
*.vsidx
*.vsidx
ParcialPractica2/.vs/ParcialPractica2/v17/.suo
ParcialPractica2/.vs/ParcialPractica2/FileContentIndex/72486065-1aba-4bee-ae20-e2854478bbbb.vsidx
ParcialPractica2/.vs/ParcialPractica2/v17/.suo
